#now_playing
  %table{cellpadding: 10, border: 0, cellspacing: 20, align: "center", valign: "middle"}
    - @songs.each do |song|
      .song{id: "song_#{song.id}"}
      %tr
        %td{align: "right"}
          %span.title
            =song.title
        %td{align: "left"}
          %span.artist
            =song.artist
        %td
          %span.when
            =time_ago_in_words(song.created_at) + " ago"

:javascript
  $(document).ready(function(){

  });
