<h1>Pages#index</h1>
<p>Find me in app/views/pages/index.html.erb</p>

<div id="nowplaying"> ... </div>
<script>
function main(){
  $.get("/Music/djay/NowPlaying.txt", function(data){
    $('#nowplaying').html("On Air: " + data);
    var t=setTimeout("main()",10000);
  });
}

$(document).ready(function(){
  main();
});

</script>
