%div{align: "center", style: "font-size: 150%"}
  %a{:href => now_playing_path, id: "go"}load playlist in chromeless window


:javascript
  $(document).ready(function(){
    $('#go').click(function (event){

      var url = $(this).attr("href");
      var windowName = $(this).attr("now_playing");
      var windowParams = "width=1200,height=800,scrollbars=yes,toolbar=no";

      window.open(url, windowName, windowParams);

      event.preventDefault();

    });
  });
