#now_playing

  - @songs.each do |song|
    .song{id: "song_#{song.id}"}
      %span.title
        =song.title.titleize unless song.title.nil?
      %span.artist
        =song.artist.titleize unless song.artist.nil?
      %span.when
        =time_ago_in_words(song.created_at) + " ago"

:javascript
  $(document).ready(function(){
    //add special class to currently playing song (first in list)
    //$('#song_#{@songs.first.id} span.title').css('color', "#f00");
    $('#song_#{@songs.first.id} span').addClass('current');
    //alert( $('#song_#{@songs.first.id} span.title').css("color") )
  });



-content_for :meta do
  %meta{'http-equiv' => 'refresh', :content => '7'}/
  %meta{'HTTP-EQUIV' => "CACHE-CONTROL", :content => "NO-CACHE"}/
